div(class='meteo-grid-container')
  div(class='meteo-icono')
    img(src='/common/img/weather/sun.svg')
  div(class='meteo-temperatura')
    p 8
  div(class='meteo-minMax')
    p 1/10
  div(class='meteo-humedad')
    p 80%
  div(class='meteo-direccionViento')
    p NE
  div(class='meteo-velocidadViento')
    p 20km/h
  div(class='meteo-indiceUV')
    p UV
  div(class='meteo-masInfo')
    p +info