div(class='meteo-grid-container')
  div(class='meteo-icono')
    img(src='/common/img/weather/sun.svg' style='width:100%; height:100%;')
  div(class='meteo-temperatura')
    div(class='text-center mx-auto my-5')
      font(size=7) -20ยบ
  div(class='meteo-minMax')
    div(class='text-center mx-auto my-3')
      font(size=4) 1ยบ/10ยบ
  div(class='meteo-humedad')
    div(class='text-center mx-auto my-3')
      font(size=4) 80%
  div(class='meteo-direccionViento')
    div(class='text-center mx-auto my-3')
      font(size=4) NE
  div(class='meteo-velocidadViento')
    div(class='text-center mx-auto my-3')
      font(size=4) 20km/h
  div(class='meteo-indiceUV')
    div(class='text-center mx-auto my-3')
      font(size=4) UV
  div(class='meteo-masInfo')
    div(class='text-center mx-auto my-3')
      font(size=4) +info