if error
  p #{error}

if location
  p El municipio m&#225;s cercano es #{location}
  
if data
  p #{data[0].nombre}, #{data[0].provincia}

div(class='row')
  div(class='col border border-secondary rounded')
    h2 El tiempo hoy

div(class='meteo-grid-container')
  div(class='meteo-icono')
    img(src='/common/img/weather/sun.svg' style='width:100%; height:100%;')
  div(class='meteo-temperatura text-center mx-auto my-auto')
    p -20ยบ
  div(class='meteo-minMax text-center mx-auto my-3')
    p 1ยบ/10ยบ
  div(class='meteo-humedad text-center mx-auto my-3')
    p 80%
  div(class='meteo-direccionViento text-center mx-auto my-3')
    p NE
  div(class='meteo-velocidadViento text-center mx-auto my-3')
    p 20km/h
  div(class='meteo-indiceUV text-center mx-auto my-3')
    p UV
  div(class='meteo-masInfo text-center mx-auto my-3')
    p +info