extends layout

block content

  div(class='container')
    a(href='/', title=title)
      h1(class='logo my-3', title=title)
    fieldset
      form(class='md-form mt-0 mb-2', action='/', method='get')
        i(class='fas fa-search fa-icons fa-button__icon')
        input(name='location', autofocus='autofocus', id='searchPlace', class='form-control mb-1', type='text', placeholder='Buscar ubicación, código postal...', required)
        input(type='submit', style='position: absolute; left: -9999px')
    
    // Full Weather
    div(id='fullWeather')
    
    // JavaScript
    script(type='text/javascript', src='/lib/swiper/js/swiper.min.js')
        
    script(type='text/javascript', src='/lib/jquery/js/jquery.min.js')
    script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/common/js/utilities.js')
    
    // Service worker
    script.
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
              .then((reg) => {
                console.log('Service worker registered.', reg);
              });
        });
      }
    
