extends layout

block content

  div(class='container')
    h1= title
    fieldset
      form(class='md-form mt-0', action='/', method='get')
        i(class='fas fa-search fa-icons fa-button__icon')
        input(name='location', class='form-control mb-1', type='text', placeholder='Buscar ubicación, código postal...', required)
        input(type='submit', style='position: absolute; left: -9999px')
    
    // Weather table 
    div(id='weatherGrid')  
