doctype html
html
  head
    // Basic needs
    meta(charset='utf-8')
    title= title
    meta(name='description' content='Consulta la información meteorológica de forma rápida y sencilla')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    // CSS
    link(rel='stylesheet', href='/common/css/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/fontawesome/css/all.min.css')
    
    // Favicon
    link(rel='icon', href='/common/img/favicon.png')
    
  body
    // Content
    block content
 
   
    // JavaScript
    script(type='text/javascript', href='/common/js/location.js')
    script(type='text/javascript', href='/lib/jquery/js/jquery.min.js')
    script(type='text/javascript', href='/lib/popper/js/popper.min.js')
    script(type='text/javascript', href='/lib/bootstrap/js/bootstrap.min.js')
