div(class='row')
  div(class='col')
    p Predicción de los próximos 7 dias

div(class='swiper-container')
  div(class='swiper-wrapper')
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-icono')
          img(src='/common/img/weather/sun.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura')
          div(class='text-center mx-auto my-4')
            font(size=2) -20º
        div(class='prevision-minMax')
          div(class='text-center mx-auto my-1')
            font(size=1) 1º/10º
        div(class='prevision-humedad')
          div(class='text-center mx-auto my-auto')
            font(size=1) 80%
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-icono')
          img(src='/common/img/weather/rain.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura')
          div(class='text-center mx-auto my-4')
            font(size=2) -4º
        div(class='prevision-minMax')
          div(class='text-center mx-auto my-1')
            font(size=1) -10º/10º
        div(class='prevision-humedad')
          div(class='text-center mx-auto my-auto')
            font(size=1) 50%
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-icono')
          img(src='/common/img/weather/night.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura')
          div(class='text-center mx-auto my-4')
            font(size=2) 20º
        div(class='prevision-minMax')
          div(class='text-center mx-auto my-1')
            font(size=1) 1º/20º
        div(class='prevision-humedad')
          div(class='text-center mx-auto my-auto')
            font(size=1) 6%
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-icono')
          img(src='/common/img/weather/comet.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura')
          div(class='text-center mx-auto my-4')
            font(size=2) 1º
        div(class='prevision-minMax')
          div(class='text-center mx-auto my-1')
            font(size=1) 1º/10º
        div(class='prevision-humedad')
          div(class='text-center mx-auto my-auto')
            font(size=1) 10%
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-icono')
          img(src='/common/img/weather/snowing.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura')
          div(class='text-center mx-auto my-4')
            font(size=2) -20º
        div(class='prevision-minMax')
          div(class='text-center mx-auto my-1')
            font(size=1) -25º/10º
        div(class='prevision-humedad')
          div(class='text-center mx-auto my-auto')
            font(size=1) 3%
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-icono')
          img(src='/common/img/weather/wind.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura')
          div(class='text-center mx-auto my-4')
            font(size=2) 7º
        div(class='prevision-minMax')
          div(class='text-center mx-auto my-1')
            font(size=1) 1º/10º
        div(class='prevision-humedad')
          div(class='text-center mx-auto my-auto')
            font(size=1) 80%
      