div(class='row')
  div(class='col border border-secondary rounded')
    h2 Predicción de los próximos 7 dias

div(class='swiper-container')
  div(class='swiper-wrapper')
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-dia text-center mx-auto my-auto')
          p Lunes
        div(class='prevision-icono')
          img(src='/common/img/weather/sun.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura text-center mx-auto my-4')
          p -20º
        div(class='prevision-minMax text-center mx-auto my-1')
          p 1º/10º
        div(class='prevision-humedad text-center mx-auto my-auto')
          p 80%
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-dia text-center mx-auto my-auto')
          p Martes
        div(class='prevision-icono')
          img(src='/common/img/weather/rain.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura text-center mx-auto my-4')
          p -4º
        div(class='prevision-minMax text-center mx-auto my-1')
          p -10º/10º
        div(class='prevision-humedad text-center mx-auto my-auto')
          p 50%
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-dia text-center mx-auto my-auto')
          p Miercoles
        div(class='prevision-icono')
          img(src='/common/img/weather/night.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura text-center mx-auto my-4')
          p 20º
        div(class='prevision-minMax text-center mx-auto my-1')
          p 1º/20º
        div(class='prevision-humedad text-center mx-auto my-auto')
          p 6%
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-dia text-center mx-auto my-auto')
          p Jueves
        div(class='prevision-icono')
          img(src='/common/img/weather/comet.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura text-center mx-auto my-4')
          p 1º
        div(class='prevision-minMax text-center mx-auto my-1')
          p 1º/10º
        div(class='prevision-humedad text-center mx-auto my-auto')
          p 10%
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-dia text-center mx-auto my-auto')
          p Viernes
        div(class='prevision-icono')
          img(src='/common/img/weather/snowing.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura text-center mx-auto my-4')
          p -20º
        div(class='prevision-minMax text-center mx-auto my-1')
          p -25º/10º
        div(class='prevision-humedad text-center mx-auto my-auto')
          p 3%
    div(class='swiper-slide')
      div(class='prevision-grid-container')
        div(class='prevision-dia text-center mx-auto my-auto')
          p Sabado
        div(class='prevision-icono')
          img(src='/common/img/weather/wind.svg' style='width:100%; height:100%;')
        div(class='prevision-temperatura text-center mx-auto my-4')
          p 7º
        div(class='prevision-minMax text-center mx-auto my-1')
          p 1º/10º
        div(class='prevision-humedad text-center mx-auto my-auto')
          p 80%
      