div(class='row')
  div(class='col')
    p Predicción de los próximos 7 dias

div(class='swiper-container')
  div(class='swiper-wrapper')
    div(class='swiper-slide')
      p Dia 1
      img(src='/common/img/weather/comet.svg')
    div(class='swiper-slide')
      p Dia 2
      img(src='/common/img/weather/rain.svg')
    div(class='swiper-slide')
      p Dia 3
      img(src='/common/img/weather/night.svg')
    div(class='swiper-slide')
      p Dia 4
      img(src='/common/img/weather/storm.svg')
    div(class='swiper-slide')
      p Dia 5
      img(src='/common/img/weather/snowflake.svg')
    div(class='swiper-slide')
      p Dia 6
      img(src='/common/img/weather/wind.svg')
      