body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.md-form.mt-0{
  display:flex;
  align-items: center;  
}

.fa-icons.fa-button__icon{
  position:absolute;
  margin-left: 9px;
  color: #ddd;
}

.fa-button__icon + input{
  padding-left: 30px;
}

.meteo-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.meteo-icono { 
grid-column:1/5;
grid-row: 1/span4; }

.meteo-temperatura { 
grid-column:5/7;
grid-row: 1/span2; }

.meteo-minMax {
grid-column:7/9;
grid-row: 1/span1; }

.meteo-humedad {
grid-column:7/9;
grid-row: 2/span1; }

.meteo-direccionViento { 
grid-column:5/7;
grid-row: 3/span1; }

.meteo-velocidadViento { 
grid-column:7/9;
grid-row: 3/span1; }

.meteo-indiceUV {
grid-column:5/7;
grid-row: 4/span1; }

.meteo-masInfo { 
grid-column:7/9;
grid-row: 4/span1; }

.prev-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.meteo-day1 { 
grid-column:1/span1; }

.meteo-day2 { 
grid-column:2/span1; }

.meteo-day3 {
grid-column:3/span1; }

.meteo-day4 {
grid-column:4/span1; }

.meteo-day5 { 
grid-column:5/span1; }

.meteo-day6 { 
grid-column:6/span1; }
